<div style="width: 100%; height: 100%;">
    <app-header-controls
        (toggleSelect)="toggleSelectionMode()"
        [enabled]="selectionEnabled"
        [total]="totalRecords"
        [selected]="selectedRecords"
    ></app-header-controls>
    <ag-grid-angular 
        #agGrid
        style="width: 100%; height: 100%"
        class="ag-theme-balham"
        [columnDefs]="columnDefs"
        [rowData]="rowData | async"
        [rowSelection]="rowSelection"
        rowHeight="90"
        autoHeight="true"
        rowDeselection="true"
        (gridReady)="onGridReady($event)"
        [allowContextMenuWithControlKey]="true"
        [getContextMenuItems]="getContextMenuItems"
    ></ag-grid-angular>
    {{stringGridOptions}}
</div>
